@tailwind base;
@tailwind components;
@tailwind utilities;

html,
body {
  overflow: hidden;
  scroll-behavior: smooth;
}

.fullpage-scroll {
  display: flex;
  flex-direction: column;
}

.scrollbar-hide {
  /* Hide scrollbars for WebKit browsers */
  -ms-overflow-style: none; /* IE and Edge */
  scrollbar-width: none; /* Firefox */
}

.scrollbar-hide::-webkit-scrollbar {
  display: none; /* Chrome, Safari, and Opera */
}
